body {
	background-image:url(assets/layar.jpg);
	background-size:cover;
}
.container {
	width:50%;
	margin-bottom:5%;
	margin-top:5%;
	box-shadow:0 3px 20px rgba(0,0,0,0.5);
	padding:40px;
	background-color:white;
}